/* Nav-bar */
*{
	box-sizing:border-box;
	line-height:1.6;
	margin:0;
	padding:0;
}
body{
	font-family:arial, sans-serif;
	text-align:center;
background:#f0f0f0;	
	
}

.header{
	background:rgb(230,230,230);
	width:100%;
	margin: 0 0 30px;
	padding:15px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:fixed;
	top:30px;
	z-index:1000;
}

 @media(min-width:768px){
	.header{
		align-items:center;
	}
}
.logo{
	display:flex;
	align-items:center;
	gap:5px;
	animation:fade 1.5s;
	color:blue;
	font-weight:bold;
}

@keyframes fadelogo{
	from{
		transform:translateY(-50px);
		opacity:0;
	}
	to{
		transform:translateY(0);
		opacity:1;
	}
}

.logo img{
	width:100%;
	max-width:40px;
	height:40px;
	display:block;
	border-radius:50%;
	animation:fade 1s ease;
}

.logo span{
	font-size:12px;
	text-align:left;
}

.nav{
	gap:15px;
	display:flex;
}

.nav a{
	text-decoration:none;
	color:blue;
	font-weight:bold;
}

.nav a:hover{
	/* transform:scale(1.1); */
	color:green;
	background:white;
	padding:0 2px ;
	border-radius:5px;
	box-shadow:2px 4px rgba(0,0,0,0.1);
}

.menu-toggle{
	display:none;	
}
.menu-toggle:hover{
	background:rgb(230,230,230);
	transform:scale(1.1);
}

/* Menu toggle */
@media(max-width:768px){
.menu-toggle{
	display:block; 
	font-size:25px;
	background:white;
	width:40px;
	height:40px;
	border-radius:50px;
	display:flex;
	text-align:left;
	align-items:center;
	justify-content:center;
	background:scale 1s ease;
	cursor:pointer;	
	}
	
	.nav{
		display:none;
	}
	
	.nav a{
		display:block;
	} 
	
	.nav.active{
		display:flex;
		flex-direction:column;
		background:rgb(240,240,240);
		position:absolute;
		top:80px;
		right:8px;
		padding:10px;
		text-align:left;
		border-radius:10px;
		animation:fade 0.2s;
	}	
}
@keyframes fade{
	from{
		transform:translateX(40px);
}

	to{
		transform:translateX(0px);
}}


/* Partie principale */

/* boite principale, couleur grise blanche */
.conteneur{ 
	width:100%;
	max-width:1200px; 
	padding:20px; 
	animation:fade-in 2s ease;
	margin:auto;
	border-radius:20px;
}
/* Animation de la bote principale */
@keyframes fade-in{
	from{
		transform:translateY(500px);
		opacity:(0);
	}
	to{
		transform:translateY(0);
		opacity:(1);
	}
}

/* Section : classe division, couleur bleu */
.division{
	margin-bottom:20px;
	width:100%;
	max-width:900px;
	background:rgba(70,70,250,0.9);
	margin:40px auto;
	padding:20px;
	border-radius:15px;
}
.carte{
	width:100%;
/* background:black; */
}
.carte h3{
	color:white;
}
.carte h2{
	text-align:center;
	color:yellow;
	margin-top:30px;
	font-size:2rem;
	font-family:arial, sans-serif;
}
 .carte h1{
	text-align:center;
	color:yellow;
	margin-top:30px;
	font-size:3rem;
	font-family:Edwardian script ITC;
	animation:zoom-out infinite 4s ease;	
}
/* animation de h1 */
@keyframes zoom-out{
	from{
	 transform:scale(0.8); 
		opacity:0;
		color:White;
	}	
}

.carte p{
	color:/* black */ White;
	font-size:1.3rem;
	margin:30px;
	text-align:left;
	
}

 .lien{
	background:yellow;
	width:100%;
	margin:20px auto;
	padding:12px;
	font-size:1.2rem;
	margin-bottom:30px;	
	border-radius:8px;
	transition:1s ease;
	text-decoration:none;
	display:block;
}

.lien:hover{
	background:White;
	color:blue;
}

/* Section-1 */
.division1{
	/* background:black;  */
	color:White;
	padding:20px;
	width:100%;
	margin:auto;
}
.jeu{
	background:white;
	max-width:100%;
	margin:auto;
	color:blue;
	
}
.jeu p{
	font-size:20px;
	color:black;
}
#correspondance{
	background:rgba(255,255,255,0.5);
	width:100%;
	max-width:500px;
	color:blue;
	border-radius:10px;
	margin:30px auto;
	padding:12px;
	font-size:21px;
	border:1px solid rgba(0,0,255,0.1);
	box-shadow:0 12px 14px rgba(0,0,255,0.1);
	font-weight:700;
}
.resultat{
	background:gray;
	width:100px;
	height:100px;
	border-radius:50%;
	margin:auto;
	font-size:3rem;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:White;
	display:none;
}
.vide{
	background:black;
	width:100%;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	border-radius:10px 10px 0 0px;
	z-index:1000px;
}
.publicite{
	background:rgba(0,0,0,0.6);
	width:3300px;
	animation:fadeOutDown 30s ease infinite;
	color:White;
	font-size:25px;
	position:fixed;
	top:0px;
	text-align:left;
	border-radius:10px;
	box-shadow:0 10px 14px rgba(255,255,100,0.5);
	font-weight:bold;
	z-index:1000px;
}
@keyframes fadeOutDown{
	from{
		transform:translateX(1450px);
	}
	to{
		transform:translateX(-3800px);
	}
}
/* Publicite responsivite */
@media(min-width:360px){
	.publicite{
		animation:fadeOutDown 55s ease infinite;
		font-size:20px;
		width:3800px;
	}
	@keyframes fadeOutDown{
		from{
			transform:translateX(450px);
		}
		to{
			transform:translateX(-4000px);
		}
	}
}
/* fin  */
.bouton{
	background:blue;
	padding:12px;
	border-radius:15px;
	margin:20px;
	color:yellow;
	font-size:1.2rem;
	font-weight:bold;
	cursor:pointer;
}

/* Le Jeu */
.notice{
	background:blue;
	padding:12px;
	border-radius:15px;
	margin:20px;
	color:yellow;
	font-size:1.2rem;
	font-weight:bold;
	cursor:pointer;
}
.conteneurNotice{
	display:none;
	background:rgba(255,255,255,0.8);
	width:100%;
	height:auto;
	z-index:1000;
	position:fixed;
	left:0;
	top:0;
	padding:12px;	
}
.contenuNotice{
	background:rgba(255, 255, 160, 1);
	width:100%;
	max-width:800px;
	margin: auto;
	padding:20px;
	text-align:left;
	margin-top:250px;
	border-radius:15px;	
}
.contenuNotice h2{
	text-align:center;	
}
.contenuNotice h3{
	text-align:center;
	margin-top:10px;
}

.fermeture{
	
	font-size:30px;
	color:White;
	float:right;
	cursor:pointer;
	background:blue;
	width:35px;
	height:35px;
	border-radius:50%;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	transition:background 0.5s ease;
}
.fermeture:hover{
	background:#f0f0f0;
	color:black;
}
 /* Responsivite de la modal: a propos du jeu */
 @media(min-height:360px){
	.conteneurNotice{
		height:700px;
	}	
	.contenuNotice{
		margin-top:30px;
	}
.fermeture:hover{
	background:yellow;
}	
 }
 
 
 /* fin */
.figures {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin:auto;
}

.figure {
	aspect-ratio:1/1;
	font-family:Edwardian script ITC;
	color: blue;
	font-size: 3rem;
	font-weight: bold;
	opacity: 0;
	transform: scale(0.3);
	transition: opacity 0.4s ease, transform 0.4s ease;
	object-fit:auto;
	margin-top:150px;
}

.figure.show {
	opacity: 1;
	transform: scale(1);
}

.figures > :nth-child(1),
.figures > :nth-child(3),
.figures > :nth-child(7){	
	/* background:red; */
}
.figures > :nth-child(2),
.figures > :nth-child(4),
.figures > :nth-child(5),
.figures > :nth-child(6),
.figures > :nth-child(8),
.figures > :nth-child(9){	
	/* background:green; */
}

.intro-text{
	opacity:0;
	transform:translateY(20px);
	transition:opacity:0.6s ease,transform 0.6s ease;
}

.intro-bouton.show{
	opacity:1;
	transform:scale(1);
}

.carte img{
	width:100%;
	max-width:100px;
	height:100px;
	border-radius:50%;
} 

 /* Section footer  */
.footer{
	padding:0;
}

.classe{
	background:rgb(0,0,22);
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:100%;
	border-radius:10px;
	margin-top:50px;	
	
}

.classe img{
	width:100px;
	height:100px;
	border-radius:50%;
	object-fit:auto;
	cursor:pointer;	
}
.page{
	width:100%;
	max-width:400px;
	margin:20px;
	padding:12px;
	border:1px solid rgba(255,255,255,0.8);
	border-radius:10px;	
}

.page h3{
	font-size:1.5rem;
	color:yellow;
	
}
 .classe p, li{
	color:white;
	text-align:left;
	list-style-type:none; 
}
.classe li a{
	color:White;
	text-decoration:none;
	font-size:1rem;
	transition: 0.5s;
}
	
.classe li a:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	cursor:pointer;
	border-radius:10px;
	padding:3px;
} 
/* modal */
.modal{
 	display:none; 
	background:rgba(255,25,0,0.5);
	padding:12px;
	width:100%;
	border-radius:10px;
	height:auto;
	z-index:1000;
	color:White;	
	margin:20px auto;
	animation: fade 1.5s ease;
}
@keyframes fade{
	from{
		transform:translateX(-100px);
		opacity:0;
	}
	to{
		transform:translateX(0);
		opacity:1;
	}
}


 .fermer{
	font-size:25px;
	color:White;
	float:right;
	cursor:pointer;
	background:blue;
	width:35px;
	height:35px;
	border-radius:50%;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	transition:background 0.5s ease;
}
.fermer:hover{
	background:#fff;
	color:black;
}

 /**/
.ouvrir{
	margin-top:20px;
	color:blue;
	font-size:1.1rem;
	background:White;
	width:180px;
	cursor:pointer;
	font-weight:bold;
	text-decoration:underline;
	transition: 0.5s;
	border-radius:7px;
}

.ouvrir:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	text-decoration:none;

}

.close{
	font-size:25px;
	color:White;
	float:right;
	cursor:pointer;
	background:blue;
	width:35px;
	height:35px;
	border-radius:50%;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	transition:background 0.5s ease;
}
.close:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	text-decoration:none;
	transition:background 0.5 ease;
}

.open{
	width:70%;
	background-color:blue;
	font-size:1rem;
	margin:10px auto;
	border-radius:8px;
	text-align:center;
	font-weight:bold;
	display:block;
	padding:12px;
	color:white;
	transition: 0.5s;
	
	}
.open:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	cursor:pointer;
}

.copy{
	text-align:center
}
 
.module h2{
	text-align:center;
} 
/* Page contact */
.form{
	background:#fff;
	padding:10px;
}

 .form input,textarea {
	width:100%;
	padding:10px;
	font-size:1.3rem;
	border-radius:20px;
	border:none;
	background:#f0f0f0; 
	text-align:left;
} 

textarea::placeholder{
	color:gray;
	font-size:1.3rem;
	
}
input::placeholder{
	color:gray;
	text-align:left;
}

.form button{
	width:100%;
	margin:20px auto;
	
}
.form button:hover{
	cursor:pointer;
	background:yellow;
	color:green;
}

@media(max-width:768px){
	.main{
		justify-content:center;
		align-items:center;
		margin:auto;
	}
	
	}
 /* barre de pied page */
.annonces{
	position:fixed;
	bottom:0;
	left:0;
	z-index:1000;
	
}

#closeAnnonces{
	font-size:25px;
	color:White;
	float:right;
	cursor:pointer;
	background:blue;
	width:35px;
	height:35px;
	border-radius:50%;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	transition:background 0.5s ease;
}

#closeAnnonces:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	text-decoration:none;
	transition:background 0.5 ease;
}
.barre{
	background:#f5f5f5;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1000;
	border-radius:0 10px 10px 0;
	display:none;
	padding:12px;
	display:flex;
	/* flex-wrap:wrap; */
	flex-direction:column;
}

/* Section ACHCO */
.achco{
	display:none; 
	background:rgba(255,255,255,0.9);
	z-index:1000;
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	padding:12px;
}

.contenuAchco{
	background:blue;
	width:100%;
	max-width:90%;
	margin:3% auto;
	text-align:left;
	padding:20px;
}

.contenuAchco h1{
	color:yellow;
	text-align:center;
	font-size:1.5rem;
}
.contenuAchco p{
	color:White;
	font-size:20px;
}
#closeAchco{
	font-size:25px;
	color:White;
	float:right;
	cursor:pointer;
	background:blue;
	width:35px;
	height:35px;
	border-radius:50%;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	transition:background 0.5s ease;
}
#closeAchco:hover{
	transform:scale(1.08);
	background:yellow;
	color:green;
	text-decoration:none;
}
